:root{
    --footer-bg: var(--color1);
    --footer-text: var(--color2);
}


footer{
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 1rem;
}

#footer-text{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    width: 20rem;
}

footer *{
    color: inherit;
}

footer > *{

}