

#worktogether-background{
    width: 100%;
    background-color: var(--color5);
}

#worktogether-background > div {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#worktogether-background > div > *:first-child{
    padding-bottom: 2rem;
}

#worktogether-background * {
    text-align: center;
}

#main-content{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.self-row{
    margin-bottom: 2.5rem;
}

#card-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


#bestworks-text{
    align-self: center;
}


@media screen and (max-width: 768px){
    #intro-text > *{
        text-align: center;
    }
    .self-row{
        margin-bottom: 0;
    }
    #intro-row{
        padding-bottom: 1rem;
    }
}


.card{
    margin-bottom: 1rem;
}


@media screen and (min-width: 1030px){

    #intro-text > p{
        text-align: right;
        max-width: 33rem;
    }

}

#card-row{
    padding-top: 1rem;
}

#intro-row {
    width: 100%;
    align-self: center;


}

#intro-left{
    justify-self: start;
    display: flex;
    flex-direction: column;

}




#face-img-container{
    max-width: 20rem;

}

#face-img-container img{
    display: block;
    max-width: 100%;
    max-height: 100%;

}
